[package]
name = "massagermax"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "client"
path = "src/bin/client.rs"

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
bcrypt = "0.15"